<%-include('../partials/head.ejs')%>
    <title><%= title %></title>
  </head>
  <body>
    <%-include('../partials/nav.ejs')%>
    <div class="container mt-4">
    <!-- <a href="/about.html">About</a> -->
    <!-- for static middleware .html -->
    <h1>Welcome to about page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim placeat accusamus quibusdam. Iste distinctio, beatae quia magnam quis doloribus necessitatibus itaque incidunt odit, tenetur iusto veritatis optio culpa ab porro.</p>
    </div>
  </body>
</html>
