<%-include('../partials/head.ejs')%>
    <title><%= title %></title>
  </head>
  <body>
      <%-include('../partials/nav.ejs')%>
    <div class="container mt-4">
        
        <!-- <a href="/about.html">About</a> -->
        <!-- for static middleware .html -->
        <h1>Welcome to HOME Page</h1>

        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque deleniti, soluta iste dignissimos magni ducimus, odit tempore quidem nulla ipsum cupiditate? Numquam totam perspiciatis odio vel, rerum deleniti. Obcaecati, numquam.</p>
        
        <!-- <a href="/download">Download File</a> -->
    </div>
  </body>
</html>
